@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 238 100% 100%;
    --foreground: 238 5% 10%;
    --card: 238 50% 100%;
    --card-foreground: 238 5% 15%;
    --popover: 238 100% 100%;
    --popover-foreground: 238 100% 10%;
    --primary: 238 100% 21.8%;
    --primary-foreground: 0 0% 100%;
    --secondary: 238 30% 90%;
    --secondary-foreground: 0 0% 0%;
    --muted: 200 30% 95%;
    --muted-foreground: 238 5% 40%;
    --accent: 200 30% 90%;
    --accent-foreground: 238 5% 15%;
    --destructive: 0 100% 50%;
    --destructive-foreground: 238 5% 100%;
    --border: 238 30% 82%;
    --input: 238 30% 50%;
    --ring: 238 100% 21.8%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 238 50% 10%;
    --foreground: 238 5% 100%;
    --card: 238 50% 10%;
    --card-foreground: 238 5% 100%;
    --popover: 238 50% 5%;
    --popover-foreground: 238 5% 100%;
    --primary: 238 100% 21.8%;
    --primary-foreground: 0 0% 100%;
    --secondary: 238 30% 20%;
    --secondary-foreground: 0 0% 100%;
    --muted: 200 30% 25%;
    --muted-foreground: 238 5% 65%;
    --accent: 200 30% 25%;
    --accent-foreground: 238 5% 95%;
    --destructive: 0 100% 50%;
    --destructive-foreground: 238 5% 100%;
    --border: 238 30% 50%;
    --input: 238 30% 50%;
    --ring: 238 100% 21.8%;
    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
